#header{
    background-image: url(./images/hero\ page.jpg);
    background-size: cover;
}

#button{
    background-color: #A0583C;
}
#button:hover{
    background-color: #FFFADA;
    color: #A0583C;
}

#orderBtn{
    background-color: #A0583C;
}
#orderBtn:hover{
    background-color:#FFFADA;
    color: #A0583C;
}
#modeBtn{
     background-color: #A0583C;
}
#modeBtn:hover{
    background-color:#FFFADA;
    color: #A0583C;
}
#darkBtn{
    margin-right: 10px;
}
#darkBtn:hover{
  cursor: pointer;
}
#card{
    background-color: #C08267;
}
h3{
    color: #A0583C;
}
#submit:hover{
cursor: pointer;
}
#footer{
     background-color: #A0583C;
}
#footer:hover{
     background-color: #C08267;
}